<!-- Dark Footer -->
<div  class="md:flex justify-between pt-20 pb-20 w-5/6 mx-auto">
    <!--Footer Links Data Row-->
    <div class="w-5/6 mt-5  md:mx-0 lg:mx-0 xl:mx-0 md:mt-0 lg:mt-0 xl:mt-0 md:w-1/6 lg:w-1/6 xl:w-1/6">
      <p style="border-color: #0E142B;" class="text-xl text-linkBlue border-b pb-2">KryptoMind</p>
      <ul class="text-white mt-2">
        <li class="mt-2 text-sm text-linkBlue"><a href="#">About Us</a></li>
        <li class="mt-2 text-sm text-linkBlue"><a href="#">Portfolio</a></li>
        <li class="mt-2 text-sm text-linkBlue"><a href="#">Careers</a></li>
      </ul>
    </div>
    <div class="w-5/6 mt-5  md:mx-0 lg:mx-0 xl:mx-0 md:mt-0 lg:mt-0 xl:mt-0 md:w-1/6 lg:w-1/6 xl:w-1/6">
      <p style="border-color: #0E142B;" class="text-xl text-linkBlue border-b pb-2">Services</p>
      <ul class="text-white mt-2">
        <li class="mt-2 text-sm text-linkBlue"><a href="#">Block Chain</a></li>
        <li class="mt-2 text-sm text-linkBlue"><a href="#">Digital Industry</a></li>
        <li class="mt-2 text-sm text-linkBlue"><a href="#">IT Security</a></li>
        <li class="mt-2 text-sm text-linkBlue"><a href="#">Consulting</a></li>
      </ul>
    </div>
    <div class="w-5/6 mt-5  md:mx-0 lg:mx-0 xl:mx-0 md:mt-0 lg:mt-0 xl:mt-0 md:w-1/6 lg:w-1/6 xl:w-1/6">
      <p style="border-color: #0E142B;" class="text-xl text-linkBlue border-b pb-2">Contact</p>
      <ul class="text-white mt-2">
        <li class="mt-2 text-sm text-linkBlue"><a href="#">Contact Us</a></li>
        <li class="mt-2 text-sm text-linkBlue"><a href="#">Consult</a></li>
      </ul>
    </div>
    <div class="w-5/6 mt-5  md:mx-0 lg:mx-0 xl:mx-0 md:mt-0 lg:mt-0 xl:mt-0 md:w-1/6 lg:w-1/6 xl:w-1/6">
      <p style="border-color: #0E142B;" class="text-xl text-linkBlue border-b pb-2">Social</p>
      <ul class="text-white mt-2 flex">
        <img src="/assets/images/linkedin-6.png" class="ml-2" >
        <img src="/assets/images/facebook-3.png" class="ml-2" >
        <img src="/assets/images/twitter-6.png" class="ml-2" >
        <img src="/assets/images/google-plus-3.png" class="ml-2" >
      </ul>
    </div>

  </div>
  <div style="border-color: #0E142B;" class="md:flex lg:flex xl:flex items-center justify-between border-t mb-5 pt-5 w-5/6 mx-auto">
    <img src="/assets/images/logo.png" class="mx-auto md:mx-0 lg:mx-0 xl:mx-0">
    <p class="text-sm md:text-left lg:text-left xl:text-left text-center mt-5 md:mt-0 lg:mt-0 xl:mt-0 md:text-lg lg:text-lg xl:text-lg text-linkBlue">© 2020 KryptoMind. All Rights Are Reserved</p>
  </div>

  <!-- Light Footer -->
  <div  class="md:flex justify-between pt-20 pb-20 w-5/6 mx-auto">
    <!--Footer Links Data Row-->
    <div class="w-5/6 mt-5  md:mx-0 lg:mx-0 xl:mx-0 md:mt-0 lg:mt-0 xl:mt-0 md:w-1/6 lg:w-1/6 xl:w-1/6">
      <p style="border-color: rgba(255, 255, 255, 0.2)" class="text-xl text-white border-b-2 pb-2">KryptoMind</p>
      <ul class="text-white mt-2">
        <li class="mt-2 text-sm"><a href="#">About Us</a></li>
        <li class="mt-2 text-sm"><a href="#">Portfolio</a></li>
        <li class="mt-2 text-sm"><a href="#">Careers</a></li>
      </ul>
    </div>
    <div class="w-5/6 mt-5  md:mx-0 lg:mx-0 xl:mx-0 md:mt-0 lg:mt-0 xl:mt-0 md:w-1/6 lg:w-1/6 xl:w-1/6">
      <p style="border-color: rgba(255, 255, 255, 0.2);" class="text-xl text-white border-b-2 pb-2">Services</p>
      <ul class="text-white mt-2">
        <li class="mt-2 text-sm"><a href="#">Block Chain</a></li>
        <li class="mt-2 text-sm"><a href="#">Digital Industry</a></li>
        <li class="mt-2 text-sm"><a href="#">IT Security</a></li>
        <li class="mt-2 text-sm"><a href="#">Consulting</a></li>
      </ul>
    </div>
    <div class="w-5/6 mt-5  md:mx-0 lg:mx-0 xl:mx-0 md:mt-0 lg:mt-0 xl:mt-0 md:w-1/6 lg:w-1/6 xl:w-1/6">
      <p style="border-color: rgba(255, 255, 255, 0.2);" class="text-xl text-white border-b-2 pb-2">Contact</p>
      <ul class="text-white mt-2">
        <li class="mt-2 text-sm"><a href="#">Contact Us</a></li>
        <li class="mt-2 text-sm"><a href="#">Consult</a></li>
      </ul>
    </div>
    <div class="w-5/6 mt-5  md:mx-0 lg:mx-0 xl:mx-0 md:mt-0 lg:mt-0 xl:mt-0 md:w-1/6 lg:w-1/6 xl:w-1/6">
      <p style="border-color: rgba(255, 255, 255, 0.2);" class="text-xl text-white border-b-2 pb-2">Social</p>
      <ul class="text-white mt-2 flex">
        <img src="/assets/images/linkedin.png" class="ml-2" >
        <img src="/assets/images/facebook.png" class="ml-2" >
        <img src="/assets/images/twitter.png" class="ml-2" >
        <img src="/assets/images/google-plus.png" class="ml-2" >
      </ul>
    </div>

  </div>
  <div style="border-color: rgba(255, 255, 255, 0.2);" class="md:flex lg:flex xl:flex items-center justify-between border-t-2 pt-5 w-5/6 mx-auto">
    <img src="assets/images/logo-footer.png" class="mx-auto md:mx-0 lg:mx-0 xl:mx-0">
    <p class="text-sm md:text-left lg:text-left xl:text-left text-center mt-5 md:mt-0 lg:mt-0 xl:mt-0 md:text-lg lg:text-lg xl:text-lg text-white">© 2020 KryptoMind. All Rights Are Reserved</p>
  </div>

  <!-- Contact Us Banner by Faizan -->
  <div class="w-full bg-white mt-8 lg:mt-12 xl:mt-12 pb-16 lg:pb-20 xl:pb-20">
    <div class="w-4/5 p-6 rounded-lg bg-pale mx-auto">
        <p class="text-orange font-bold text-center">Contact Us</p>
        <p class="py-3 text-lg md:text-xl lg:text-2xl xl:text-2xl font-bold text-center">Let's create perfect products together.</p>
        <div class="flex w-full justify-around">
            <p class="text-xs text-gray leading-5 text-center w-full lg:w-2/3 xl:w-2/3">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.
            </p>
        </div>
        <div class="w-full flex mt-8 mb-6 justify-around">
            <a href="./proposal_request.html">
                <button class="rounded-full shadow-lg bg-orange py-1 px-8 text-white text-xs font-bold focus:outline-none">
                    Request A Proposal
                </button>
            </a>
        </div>
    </div>
</div>
<!-- Header by Faizan -->
<div class="pt-5 lg:flex xl:flex container mx-auto justify-between">
  <div class=" items-center flex justify-between lg:justify-start xl:justify-start">
      <div>
          <img class="h-30 w-40" src="../assets/images/logo.png" />
      </div>
      <div id="mainNav" class="hidden lg:flex xl:flex">
        <ul class="lg:flex xl:flex items-center">
            <li class="lg:ml-10 xl:ml-10 text-white mr-5 ml-5 text-sm"><a href="../pages/services.html">Services</a></li>
            <li class="text-white mr-5 ml-5 text-sm"><a href="../pages/ourwork.html">Portfolio</a></li>
            <li class="text-white mr-5 ml-5 text-sm"><a href="../pages/careers.html">Careers</a></li>
            <li class="text-white mr-5 ml-5 text-sm"><a href="../pages/about-us.html">About Us</a></li>
        </ul>
      </div>
      <div>
        <button id="hamburger" class="lg:hidden xl:hidden" onclick="toggleHeader()">
            <svg class="h-6 w-6 fill-current" viewBox="0 0 24 24">
                <path  style="color: white;" fill-rule="evenodd" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"/>
            </svg>
        </button>
    </div>

    
  </div>
   <div class="hidden lg:flex xl:flex items-center">
      <img class="h-5 w-5" src="/assets/images/phone-call.png">
      <p class="text-sm text-white ml-2">+92 042 35929454</p>
      <button style="background-color: #0E142B;" class="rounded-full ml-5 shadow-lg py-2 px-8 text-white text-xs ml-2 uppercase">Consult</button>
  </div>
  <div id="navBar" style="background-color: #0E80A1;" class="p-2 w-full absolute hidden lg:hidden xl:hidden mt-5">
    <ul class="lg:flex xl:flex items-center">
        <li class="text-white text-sm py-2"><a href="../pages/services.html">Services</a></li>
        <li class="text-white text-sm py-2"><a href="../pages/ourwork.html">Portfolio</a></li>
        <li class="text-white text-sm py-2"><a href="../pages/careers.html">Careers</a></li>
        <li class="text-white text-sm py-2"><a href="../pages/about-us.html">About Us</a></li>
    </ul>
  </div>
</div>